:root {
  --maincolor: #4d5ae5;
  --accentcolor: #2e2f42;
  --textcolor: #434455;
  --secondbackgoundcolor: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.nav .list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}
.nav {
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1158px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-left: 115px;
  padding: 24px 0;
  margin-right: 76px;
}
.header-menu {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  padding: 24px 0;
}
.header-address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 24px 0;
}
.header-logo,
.header-logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolor);
  text-decoration: none;
  list-style-type: none;
}
.header-logo-accent,
span {
  color: var(--accentcolor);
}

link {
  text-decoration: none;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu .list {
  list-style: none;
}
.header-menu-item {
  list-style-type: none;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accentcolor);
  text-decoration: none;
}

.header-address {
  font-style: normal;
}
.header-address-link {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--textcolor);
  text-decoration: none;
}
.header-address-list {
  gap: 40px;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* section 1 */

.section {
  background-color: var(--accentcolor);
  padding: 188px 0;
}

.section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  width: 496px;
  height: 120px;
  flex-direction: column;
  padding: 188px 0;
  flex-wrap: nowrap;
  margin-left: 472px;
  max-width: 496px;
}
.section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 56px;
  margin-left: 636px;
  cursor: pointer;
}
.section-button:hover,
.section-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* section 2 */

.priorities-section {
  padding: 120px 0;
  margin-left: 156px;
}

.priorities-sectionul .list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-left: 156px;
}
.priorities-sectionul {
  gap: 24px;
}
.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.priorities-list {
  width: calc((100% - 72px) / 4);
}
.priorities-section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
}

.priorities-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--textcolor);
}

/* section 3 */

.do-section .list {
  list-style: none;
}
.do-sectionul.list {
  display: flex;
  gap: 24px;
  padding-left: 156px;
  justify-content: center;
}
.do-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accentcolor);
  text-align: center;
  margin-bottom: 72px;
}
.do-section {
  padding: 120px 0;
}
.section-ul {
  width: calc((100% - 3 * 16px) / 3);
}
/* section 4 */

.team-section {
  padding: 120px 0;
  list-style: none;
  background-color: #f4f4fd;
}

.team-section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accentcolor);
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-section-card {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: 264px;
}

.name {
  padding: 32px 16px;
  width: 264px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  gap: 8px;
}

.worker-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accentcolor);
  margin-top: 32px;
}
.text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
  margin-top: 32px;
  border-radius: 0px 0px 4px 4px;
}
/* footer */

.footer {
  background-color: var(--accentcolor);
  padding: 100px 0;
}
.footer-container {
  padding-left: 156px;
}
.footeer-logo {
  display: inline-block;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  display: flex;
  width: 264px;
}

/* portfolio */

/* section */

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.section-portfolio {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
}

.header-address-link link {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--textcolor);
}

.portfolio link {
  text-decoration: none;
  list-style-type: none;
}

.button-list .list {
  list-style: none;
}
.button-list,
.list,
.button-look {
  list-style-type: none;
}
.button-list,
.button-look {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #ffffff;
  cursor: pointer;
}

.button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
  height: 48px;
  width: calc(100%-24px) / 5;
}
.button-look {
  margin: 0 auto;
  width: calc((100%-24px) / 5);
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
}
.button-look:hover,
.button-look:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.work,
.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-decoration: none;
  column-gap: 24px;
  row-gap: 48px;
}
.img .link {
  text-decoration: none;
}
.img {
  width: calc((100% - 48px) / 3);
}
.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
  width: 360px;
}
.container-set {
  width: 1128px;
  margin-bottom: 72px;
  margin-top: 72px;
}
.portfolio-headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accentcolor);
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  align-items: flex-start;
  margin-left: 16px;
  margin-top: 8px;
}

/* footer */

.footer-logo,
.footer-logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maincolor);
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-accent,
span {
  color: #f4f4fd;
}
